.navbar {
  height: 80px;
  background-color: #800190;
  display: flex;
  justify-content: center;
}

.navContainer {
  width: 100%;
  max-width: 1024px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-size: 40px;
}

.signedInNavItem {
  display: grid;
  grid-template-columns: 0.7fr 1fr auto;
  gap: 20px;
  font-size: 14px;
}
.signedInNavItem > span {
  color: #fff;
}
.logout,
.policy {
  text-decoration: none;
  color: #f1f1f1;
  font-size: 14px;
  transition: all 0.2s ease-in-out;
}
.logout:hover,
.policy:hover {
  color: #cfb9b9;
}

.navButton {
  margin-left: 20px;
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
  cursor: pointer;
  color: #800190;
  transition: 200ms all ease-in;
}
.navButton:hover {
  scale: 1.05;
}
